<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h2>Edit User </h2>
<br>
<div th:insert="~{logout_button::header}"></div>
<!--<form th:method="POST" th:action="@{/logout}">-->
<!--    <input type="submit" value="logout"/>-->
<!--</form>-->
<br/>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="new_pass">Password: </label>
    <input type="password" name="new_pass" id="new_pass"/>
    <br/>
    <div th:each="role: ${rolesList}">
        <input type="checkbox" th:field="*{roles}" th:value="${role.getId()}" th:text="${role.getName().substring(5)}">
    </div>
    <br/>
    <input type="submit" value="Сохранить изменения"/>

</form>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <br/>
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>