<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<div th:insert="~{logout_button::header}"></div>
<h2>Данные пользователя</h2>
<th th:text="'ID: '+${user.getId()}"></th>
<br/>
<th th:text="'Имя: '+${user.getName()}"></th>
<br/>
<th th:text="'Возраст: '+${user.getAge()}"></th>
<br/>
    <span th:each="role: ${user.getRoles()}">
        <th th:text="'Роль: '+ ${role.getName().substring(5)}"></th>
        <br/>
    </span>
</body>
</html>